#network {
	width: 800px;
	height: 600px;
	margin: 20px auto;
	border: 2px black solid;
}

#input_area {
	margin-bottom: 20px;
}

#txt_start_resource {
	width: 60%;
	padding: 5px;
}

#btn_start {
	padding: 5px 10px;
	cursor: pointer;
}
