@use 'scss-reset/reset';

:root {
	--color-raisin-black: #272838;
	--color-flax: #f3de8a;
	--color-coral-pink: #eb9486;
	--color-cool-gray: #7e7f9a;
	--color-seasalt: #f9f8f8;

	font-family: Arial, Helvetica, sans-serif;
	color: var(--color-raisin-black);
}

html {
	background-color: var(--color-raisin-black);
}

body {
	width: 90%;
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--color-coral-pink);

	h1 {
		font-size: 3rem;
		font-weight: bold;
	}
	h2 {
		font-size: 1.4rem;
		font-weight: bold;
	}
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100%;

	.header {
		padding: 1rem;
		text-align: center;
	}

	#network {
		flex-grow: 1;
		background-color: var(--color-seasalt);
	}
}

.input_row {
	padding: 1rem;
	display: flex;
	gap: 0.5rem;

	label,
	input,
	select,
	button {
		padding: 0.5rem;
	}

	input {
		flex-grow: 1;
	}

	select {
		max-width: 150px;
	}
}

input,
select,
button {
	border: 1px solid var(--color-raisin-black);
}

button {
	cursor: pointer;
	color: var(--color-raisin-black);
	background-color: var(--color-flax);

	&:hover {
		background-color: var(--color-coral-pink);
	}
}

aside {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	#btn_query {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin: 1rem;
	}

	#node_info {
		color: var(--color-seasalt);
		background-color: var(--color-cool-gray);

		h2 {
			padding: 1rem;
		}
	}
}
